*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-family:monospace
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between
}

.bunny{
        display: block;
        margin-left: auto;
        margin-right: auto;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

main{
    width: 1200px ;
    margin: auto ;
    text-align:center;
}

.inline {
    display: flex !important;
}

.icons {
    width: 150; 
}

footer{
    width: 1200px;
    margin: auto;
    text-align: center;
}

.finish{
    /* display: flex !important;
    text-align: center; */
    margin:auto;
}

.finish h3{
    display: inline;
}